<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h2>Welcome, {{fullName}}</h2>
    <p>Using the user model and our hogan template we have this view.</p>
</div>