<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h2>Variable</h2>
    <p>This is view which accepts url variables</p>
    {{#variables}}
    <p>
    Name:{{name}}, Type:{{type}}, value: {{value}}
    </p>
    {{/variables}}
</div>